# URL de la base de données source (ex: Scalingo)
DATABASE_URL="postgresql+psycopg2://<USER>:<PASSWORD>@<HOST>:<PORT>/<DB_NAME>?sslmode=require"

# URL de la base de données cible dans Docker (L'hôte doit être "db")
DATABASE_URL1="postgresql+psycopg2://postgres:Bakar@db:5432/megabase0"